.customers-say {
  background-color: #ee9972;
  height: 25rem;
}

.customers-say h1 {
  font-family: "Markazi Text", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  padding: 3rem 4rem;
}

.testimonials {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.testimonials article {
  width: 12rem;
  padding: 1rem;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
  background-color: white;
  border-radius: 10px;
}

.user-ratings img {
  width: 24px;
  height: 24px;
}

.user-details {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.user-details img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.user-details h2 {
  font-family: "Karla", sans-serif;
  font-weight: bold;
  font-size: 1rem;
}

.user-comment {
  font-family: "Karla", sans-serif;
  font-size: 0.8rem;
}
