.main-navigation ul {
  display: flex;
  justify-content: stretch;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
}

.main-navigation a {
  font-family: "Karla", sans-serif;
  font-size: 0.95rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.main-navigation a.active {
  color: #f0f414;
  background-color: #495e57;
  padding: 0.3rem 0.5rem;
  border-radius: 50px;
}
